include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include glass_ui *.css
recursive-include glass_ui *.csv
recursive-include glass_ui *.html
recursive-include glass_ui *.ico
recursive-include glass_ui *.js
recursive-include glass_ui *.json
recursive-include glass_ui *.md
recursive-include glass_ui *.png
recursive-include glass_ui *.py
recursive-include glass_ui *.svg
recursive-include glass_ui *.txt
recursive-exclude glass_ui *.pyc